<div class="row">
  <div class="col s3">
    <h5>Add a new customer</h5>
    <form ng-submit="createCustomer()">
      <div class="input-field">
        <input type="text" id="cust_name" ng-model="newCustomer.name" class="validate">
        <label class="active" for="cust_name">Customer name</label>
      </div>
      <div class="input-field">
        <button class="waves-effect waves-light btn">Add Customer</button>
      </div>
    </form>
  </div>
  <div class="col s9">
    <table>
      <thead>
        <tr>
          <th>Customer Name</th>
          <th>Created At</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tbody>
          <tr ng-repeat="customer in customers">
            <td>{{customer.name}}</td>
            <td>{{customer.createdAt}}</td>
            <td><button type="button" ng-click="deleteCustomer(customer._id)">remove</button></td>
          </tr>
        </tbody>
      </tbody>
    </table>
  </div>
</div>
